<ion-side-menus drag-content="false">

  <ion-side-menu-content  drag-content="false">
  
	<ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear" style="color: #FFF;">
        <i class="icon ion-ios-arrow-back"></i>
      </ion-nav-back-button>
    </ion-nav-bar>
	
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
<style>
.menu.menu-undefined {
   background: transparent url("img/bgmenu.jpg") no-repeat scroll 76% 0%;
}

}
.selected-nav {
	background-image: url(img/nav-selected.png);
	background-size: 16px 16px;
	position: absolute;
	width: 16px;
	height: 14px;
	left: 250px;
	margin-top: 13px;
}
/*.item .item-content.activated{
    background-color: #f8f8f8;
	color: #000;
}*/

.item-complex .item-content {padding: 15px 1px 15px 12px;}


a.item-content {
	color:#fff;
	border:none;
}
.badge.badge-assertive {
	position: absolute;
	background-color: #4A4A4A;
	right:41px;
	padding: 1px;
	width: 18px;
	text-align: center;
	font-size: 11px;
	padding-left: 4px;
}
.bar .button.button-icon1::before {
    vertical-align: top;
    font-size: 24px;
    line-height: 32px;
}
.item{
	border-style:none;
}
</style>
  
 
 <ion-side-menu  drag-content="false">
   <!-- <ion-header-bar class="bar-stable" style="background-color: #5E87B0; color: #FFFFFF;">
      <h1 class="title" style="color: #FFFFFF;">Menu</h1>
    </ion-header-bar>   -->
    <ion-content>
	<center style="height: 130px;"><img style="width: 130px;" src="{{imgpath}}{{Logo}}">
	</center>
       <ion-list 
      <center ><div class="item item-body" style="background-size:274px 274px; margin: 0% 0% -12% 0px;">
    
    
	</div></center>

		<ion-item nav-clear menu-close href="#/app/mainpage" style="padding: 0px; border-bottom:1px solid rgb(204, 204, 204); z-index:999;">
          <img src="img/home.png" style="margin-right: 10px;height: 23px; margin-bottom: -4px;">Home 
        </ion-item>
		
		 <ion-item nav-clear menu-close href="#/app/AddAppoinment" style="padding: 0px; border-bottom: 1px solid rgb(204, 204, 204);">
          <img src="img/login.png" style="margin-right: 10px;height: 23px;margin-bottom: -4px;">Book Table
        </ion-item>
        
		<ion-item nav-clear menu-close href="#/app/getlocation" style="padding: 0px; border-bottom: 1px solid rgb(204, 204, 204); z-index:999;">
          <img src="img/sub.png" style="margin-right: 10px;height: 23px; margin-bottom: -4px;">Get Location 
        </ion-item>

        <!-- <ion-item nav-clear menu-close href="#/app/productdetail" style="padding: 0px; border-bottom: 1px solid rgb(204, 204, 204); z-index:999;">
          <img src="img/detail.png" style="margin-right: 10px;height: 23px; margin-bottom: -4px;">Product Detail
        </ion-item>-->
		
		<!-- <ion-item nav-clear menu-close href="#/app/cart" style="padding: 0px; border-bottom: 1px solid rgb(204, 204, 204); z-index:999;">
          <img src="img/cart.png" style="margin-right: 10px;height: 23px; margin-bottom: -4px;">Cart
        </ion-item>
		
		 <ion-item nav-clear menu-close href="#/app/order" style="padding: 0px; border-bottom: 1px solid rgb(204, 204, 204); z-index:999;">
          <img src="img/login.png" style="margin-right: 10px;height: 23px;margin-bottom: -4px;">Order
        </ion-item> -->
	
		<ion-item nav-clear menu-close href="#/app/logout" style="padding: 0px; border-bottom: 1px solid rgb(204, 204, 204);">
          <img src="img/login.png" style="margin-right: 10px;height: 23px;margin-bottom: -4px;">Logout
        </ion-item>

       <!-- <ion-item nav-clear menu-close href="#/app/register" style="padding: 0px;">
          <img src="img/ragister.jpg" style="height: 20px; margin-bottom: -2px;"> Register
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/clock" style="padding: 0px;">
          <img src="img/clock1.png" style="height: 20px; margin-bottom: -2px;"> Clock
        </ion-item>
       <ion-item nav-clear menu-close href="#/login" style="padding: 0px;">
          <img src="img/login.png" style="height: 20px; margin-bottom: -4px;"> Login
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/playlists" style="padding: 0px;">
          <img src="img/logout.png" style="height: 20px; margin-bottom: -4px;"> Logout
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
