/* Empty. Add your own CSS if you like */
/* added by hardik */
/* footertabs */
.main-div {
	color: #000;background-color: #fff;
}
.div-a {
	border-right: 1px solid grey;
}
.div-a-img {
	margin-top:5px;width:23px;
}
.footer-icon-title {
	font-size: 11px;
}
/* footertabs END */
/* added by hardik END */
.homepageimg{
    height: 80px; border-radius: 40px;
}
.socialimg{
    height: 25px; border-radius: 15px; margin-top: 5%;
}
.spammer{
    margin-top: 10%; border-top: 4px solid #33928B; width: 95%; margin-left: 2.5%; border-top-right-radius: 5px; border-top-left-radius: 5px;
}
.spamimg{
    height: 50px;
}
.tellfrnd{
    margin: -50px 0px 0px; color: #FFFFFF; font-size: 10px;
}
.button.button-fb {
    border-color: #152c58;
    background-color: #3B5999;
    color: #FFFFFF;
    font-size: 13px;
}
.fb {
    border: 0px; margin-bottom: -23px;
}
.button.button-google {
    border-color: #D41D1D;
    background-color: #D41D1D;
    color: #FFFFFF;
    font-size: 13px;
}
.button.button-createaccount {
    color: #0A5EFF;
	text-decoration: underline;
    font-size: 15px;
}
.google {
    border: 0px;
}
.login {
    border-top: #DDD 1px solid; border-right: 0px; border-bottom: 0px; border-left: 0px; margin-bottom: -23px;
}